.App {
  text-align: center;
}      

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: "Oswald";
  margin: 0;
  padding: 0;
  background-color: black;
}
/* ------------------------------ ADMINS, TEACHERS, STUDENTS ------------------------------------------------------- */
/* ------------- SIGN IN & SIGN UP ------------ */
.si, .su{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 1500px;
  background: linear-gradient(to right, black 0%, black 50%, blue 50%, blue 100%);
}

.si{
  padding: 85px 0px 105px 0px;
}

.right{
  margin: auto;
  width: 50%;
  text-align: center;
  color: black;
  background-image: url("https://assets-global.website-files.com/637f533d357967a5820f3f25/641f0e94ce09cd74bd3bd260_decoration-lines-quotes.svg");
}

.right > h1{
  font-size: 60px;
}

.right > h3{
  font-size: 30px;
}

.left{
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 100px 0px 120px 0px;
  background-image: url("https://assets-global.website-files.com/637f533d357967a5820f3f25/641f0e94ce09cd74bd3bd260_decoration-lines-quotes.svg");
  font-weight: 900;
  color: blue;
}

.left input{
  border: none;
  border-radius: 6px;
  padding: 10px;
  width: 200px;
  background-color: rgba(137, 137, 251, 0.185);
  color: blue;
  font-size: 16px;
  font-weight: 00;
}

.left input::placeholder{
  color: blue;
}

.left button{
  border: none;
  border-radius: 6px;
  padding: 15px;
  width: 200px;
  font-size: 16px;
  background-color: blue;
  font-weight: 600;
  cursor: pointer;
}

.left button:hover{
  background-color: rgb(91, 91, 255);
  transition: 0.5s;
}
/* -------------------------------------------- */
/* ----- ABOVE ONE FOR SMALLER DEVICES ----- */

/* ----------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

/* --------------- REGISTER PAGE ---------------------------------------------------------------------------------- */
.container{
  color: black;
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 20px;
  width: 1000px;
  margin: auto;
  margin-top: 20px;
}

.container .admin{
  padding: 40px 10px;
  border-radius: 4px;
  width: 33%;
  background-color: blue;
  cursor: pointer;
}

.container .admin:hover{
  background-color: rgb(91, 91, 255);
  transition: 0.5s;
}

.container .teacher{
  padding: 40px 10px;
  border-radius: 4px;
  width: 33%;
  background-color: blue;
  cursor: pointer;
}

.container .teacher:hover{
  background-color: rgb(91, 91, 255);
  transition: 0.5s;
}

.container .student{
  padding: 40px 10px;
  border-radius: 4px;
  width: 34%;
  background-color: blue;
  cursor: pointer;
}

.container .student:hover{
  background-color: rgb(91, 91, 255);
  transition: 0.5s;
}

/* ----- ABOVE ONE FOR SMALLER DEVICES ----- */

/* ----------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------- */

/* --------------------------------------------- HEADER OR NAVBAR ------------------------------------------------- */
nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 14px;
  padding: 20px 0px; 
  justify-content: center;
}

nav span{
  list-style-type: none;
  text-align: left;
  padding: 10px;
}

nav span:hover{
  cursor: pointer;
  background-color: rgba(105, 105, 105, 0.289);
  transition: 0.5s;
}
/* ---------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------- STUDENTS MAIN PAGE ------------------------------------------------ */

/* ------ HOME ----- */
 header{
  background-color: rgb(98, 98, 250);
  border: 1px solid rgb(98, 98, 250);
}

header > h1{
  padding: 0px 20px;
}

.overviewS{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid black;
  width: 1000px;
  margin: auto;
  color: white;
  gap: 10px;
  padding: 40px 0px;
}

.overviewS > div{
  border: 1px solid black;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 6px;
  padding: 20px 0px;
}

.overviewS > div > p{
  font-size: 24px;
  font-weight: 900;
}

.overviewS > div > i{
  font-size: 30px;
}

#noticeS{
  width: 1000px;
  margin: auto;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 6px;
  padding: 20px 0px;
  margin-bottom: 40px;
}

.noNoticeS{
  text-align: center;
}

.noticeS tr .date{
  padding: 10px 100px;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.noticeS tr .title{
  padding: 10px 337px;
  border-bottom: 1px solid white;
  font-weight: bold;
}

.noticeS tbody tr td{
  border-bottom: 1px solid white;
  padding: 10px 0px;
  text-align: center;
}

#SProfileImg{
  width: 160px;
  height: 160px;
  border-radius: 80px;
}

.infoS{
  text-align: left;
  padding: 0px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* ----------------- */
/* ---------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------- TEACHER MAIN PAGE -------------------------------------------- */

#noticeS .form{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0px 20px;
}

#noticeS .form .date{
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #05000055;
  color: rgb(98, 98, 250);
  font-weight: bolder;
  font-size: 16px;
}

#noticeS .form .text{
  padding: 10px;
  width: 600px;
  border-radius: 6px;
  border: none;
  background-color: #05000055;
  color: rgb(98, 98, 250);
  padding: 20px;
  font-weight: bolder;
  font-size: 16px;

}

#noticeS .form button{
  padding: 10px;
  border-radius: 6px;
  width: 100px;
  border: none;
  background-color: #05000055;
  color: rgb(98, 98, 250);
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
}

/* ---------------------------------------------------------------------------------------------------------------- */